$text-color-light: #ffffff;

$text-color-dark: #010101;

$text-color-bright: #f44336;



$background-color-darck: #222222;

$background-color-light: #ffffff;

$background-color-bright: #45d1ae;



$border-color-light: #dcdedd;

$border-color-darck: #656969;

$border-color-bright: #45d1ae;

