@import 'glob-var/_glob-var.scss';

.header{
	background-color: $background-color-darck;
	height: 52px;
	
}

.header-inner{
	color: $text-color-light;
	font-size: 13px;
	text-transform: uppercase;
	max-width: 1174px;
	margin: 0 auto;
}



.user-nav__item {
	display: inline-block;
	padding: 0px 7px;
	height: 52px;
	text-align: center;
}

.social__link {
	
}